:root{

    --clr-primary: #06402B;
    --clr-accent: #CFAE40;
    --clr-text: #111111;
    --clr-bg: #F0E6D8;
    --clr-white: #ffffff;
}

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body{

    height: 100%;

}

body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    color: var(--clr-text);
    background-color: var(--clr-bg);

}

main{

    flex: 1;

}



nav{

    text-align: center;

}

nav ul{

    list-style: none;
    display: flex;
    gap: 1rem;

}

nav a{

    text-decoration: none;
    padding: 1rem;

}

header{

    width: 100%;
    padding: 1rem;
    text-align: center;
    background: var(--clr-primary);
    color: var(--clr-white);
    
}

footer{

    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: var(--clr-primary);
    color: var(--clr-white);

}

.project{

    width: auto;
    margin: 1rem auto;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 1rem;
    background-color: var(--clr-accent);
    color: var(--clr-text);
    display: grid;
    gap: 1rem;

}
.project img {

    height: auto;
    width: 100%;
    display: block;

}

.projects{

    display: grid;

}


@media (min-width: 800px){

    .projects{

        grid-template-columns: repeat(2, 1fr);

    }

}


@media (min-width: 1200px){

    .projects{

        grid-template-columns: repeat(3, 1fr);

    }

}