:root{

    --clr-light-gray: hsl(0, 0%, 81%);
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{

    background-color: var(--clr-light-gray);
    color: white;
    text-align: center;
    line-height: 1.5;
    background-image: url("../images/yeah.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;

}



nav{

    text-align: center;

}

nav ul{

    list-style: none;
    display: flex;
    gap: 1rem;

}

nav a{

    text-decoration: none;
    padding: 1rem;

}

nav a{

    text-decoration: none;
    padding: 1rem;

}

nav a{

    text-decoration: none;
    padding: 1rem;

}

html, body{

    height: 100%;

}

body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{

    width: 100%;
    padding: 1rem;
    text-align: center;
    background: transparent;
}

footer{

    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: aquamarine;

}

.project{

    width: auto;
    margin: 1rem auto;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 1rem;
    background-color: green;
    color: black;

}
.project img {

    height: auto;
    width: 100%;
    display: block;

}